.barralaterla
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 90vh;
    width: 10vh;
    
}

.imagenbarra
{
    padding: auto;
    margin: auto;
    max-width: 35px;
}

.pieza:hover
{
    background-color: rgba(111, 202, 255, .53333);
    border-radius: 10%;
}

.pieza
{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 25%;
}

.parrafobarra
{
    text-align: center;
    font-size: small;
}


